@import "./variables.less";

/*--- General Styling --*/

*{
    margin:0;
    padding: 0;
}

.container{
    max-width: 80%;
}

/*--- Navigation Bar --*/

nav{
    background-color: @yellow-color;
    ul{
        margin-bottom: 0;

        li{
        display: inline-block;
        padding: 30px 30px 30px 0;

            a{
                color: @text-color;
                font:@links;
            }
        }
    }
}

/*--- Headings --*/

h1,
h2{
    font: @heading;
    color: @text-color;
}


span{
        text-transform: uppercase;
   
    &.red-span{
       color: @red-color;
    }
}

/*--- Buttons --*/

button{
    background-color: @yellow-color;
    text-transform: uppercase;
    font: @links;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}

/*--- Footer --*/

